
@import url("../fonts/iransans-fonts/");

html, body{
  height: 100%;
  width: 100%;
}
.container-fluid {
  height: 100%;
}

.site-header {
  background-color: white;
  height: 6%;
  margin-top : 0.5%;
  margin-left : 8%;
}

.header-img {
  width: 12%;
  height: 100%;
  margin-right: 9%;
  margin-top : -1%;
  float:right;
}

.site-header a {
  color: black;
  font-family: Vazir-1;
  border-radius: 3px;
  text-align: center;
  padding-right: 15px;
  text-decoration: none;
  font-size: 17px; 
  width : 13%;
  display: inline-block;
}
.site-header a:hover {
  background-color: #ddd;
  color: black;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.footer {
  position: fixed;
  bottom: 0;
  height: 7%;
  margin-top: -40px;
  width: 100%;
  background-color: rgb(54,54,54);
  color: white;
  text-align: center;
  padding-top: 15px;
  font-family: 'Vazir';
  color: rgb(128, 128, 128);
  
}

  .main {
    height: calc(100vh - 7% - 7%);
    width: 100%;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    background-color: rgb(246, 246,246);
    
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .rectangle {
    top: 165px;
    z-index: 1000;
    height: 40%;
    width: 3%;
    margin-top : -40%; 
    margin-left: -7%;
    background:rgb(137, 210, 210);
  }

  .rectangle-2 {
    top: 165px;
    z-index: 1000;
    height: 40%;
    width: 5%;
    margin-top : -40%; 
    margin-left: -10%;
    background:rgb(137, 210, 210);
  }

  .profile{
    background-color: rgb(246, 246, 246);
    width:100%;
  }

.profile-photo
  {
    height : 260%; 
    width : 65%; 
    margin-top : -40%; 
    margin-left: -3%;
    z-index : 12;
    border-radius: 30%;
    border: 8px solid white;
    }

  .profile-name
  {
    margin-top : -40%; 
    padding-top: 2%;
    display: inline-block;
    z-index: 10;
    font-family: Vazir-Bold;
    font-size: 200%;
  }

  .profile-job
  {
    margin-top : -2%; 
    z-index: 10;
    font-family: Vazir;
    font-size: 100%;
    background-color: rgb(246, 246, 246);
  }

  @media screen and (max-width: 600px) 
{
  .profile-photo, .profile-name
    {
       max-width: 100%;
    }
}



  .skill{
    padding-right : 1%;
  }

  .skill-btn{
    background-color: white;
  }
   
  .badge-green{
    background-color: rgb(26,177,30);
  }
  .badge-blue{
    background-color: rgb(187,239,241);
  }
  .badge-red{
    background-color: rgb(212, 11, 36);
  }

  .blue-box{
    background-image: linear-gradient(rgb(177, 227, 229), rgb(186, 239, 241));
    height: 80%;
  }

  .skills{
    padding-left : 5%;
  }

  .add-skill-form-container{
    margin-left: 60%;
  }

  .add-skill-form-container .add-skill-form .add-skill-input{
    background: #f9f9f9;
    border : 1px solid #eeeeee;
  }
  
  .add-skill-button{
    background-color: rgb(23, 153, 164);
    font-family: Vazir-1;
    color: white;
    border-radius: 4px;
  }

  .rtl-text{
    direction : rtl;
    text-align : right;
    font-family: Vazir;
    font-size: 90%;
    background-color: rgb(246, 246, 246);
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
  }

  .row-100{
    height: 24%;
  }

  .main-background{
    background-color: rgb(246, 246, 246);
  }

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir-font-v19.2.0/Vazir.eot');
    src: url('../fonts/vazir-font-v19.2.0/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir-font-v19.2.0/Vazir.woff2') format('woff2'),
         url('../fonts/vazir-font-v19.2.0/Vazir.woff') format('woff'),
         url('../fonts/vazir-font-v19.2.0/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: Vazir-1;
  src: url('Vazir-Thin.eot');
  src: url('Vazir-Thin.eot?#iefix') format('embedded-opentype'),
       url('Vazir-Thin.woff2') format('woff2'),
       url('Vazir-Thin.woff') format('woff'),
       url('Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('./iransans/eot/IRANSansWeb_UltraLight.eot');
  src: url('./iransans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),
    url('./iransans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), url('./iransans/woff/IRANSansWeb_UltraLight.woff') format('woff'),
    url('./iransans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}


@font-face {
  font-family: Vazir-Black;
  src: url('../fonts/vazir-font-v19.2.0/Vazir-Black.eot');
  src: url('../fonts/vazir-font-v19.2.0/Vazir-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/vazir-font-v19.2.0/Vazir-Black.woff2') format('woff2'),
       url('../fonts/vazir-font-v19.2.0/Vazir-Black.woff') format('woff'),
       url('../fonts/vazir-font-v19.2.0/Vazir-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Vazir-Bold;
  src: url('Vazir-Bold.eot');
  src: url('../fonts/vazir-font-v19.2.0/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/vazir-font-v19.2.0/Vazir-Bold.woff2') format('woff2'),
       url('../fonts/vazir-font-v19.2.0/Vazir-Bold.woff') format('woff'),
       url('../fonts/vazir-font-v19.2.0/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}







